<div class="jumbotron">
    <h1>{{stock.companyName}} ({{ stock.symbol }})</h1>
    <hr class="my-2">
    <strong>Latest Price: </strong>{{stock.latestPrice}}
    <br />
    <strong>Percent Change: </strong>{{stock.changePercent}}
    <br />
    <strong>Open: </strong>{{stock.open}}
    <br />
    <strong>Close: </strong>{{stock.close}}
    <br />
    <strong>High: </strong>{{stock.high}}
    <br />
    <strong>52W H: </strong>{{stock.week52High}}
    <br />
    <strong>52W L: </strong>{{stock.week52Low}}
    <br />
    <strong>YTD Change: </strong>{{stock.ytdChange}}
    <br />
</div>