<h1>{{stock.companyName}} ({{ stock.symbol }})</h1>
<br/>
<strong>Latest Price: {{stock.latestPrice}}</strong>
<br/>
<strong>Percent Change: {{stock.changePercent}}</strong>
<br/>
<strong>Open: {{stock.open}}</strong>
<br/>
<strong>Close: {{stock.close}}</strong>
<br/>
<strong>High: {{stock.high}}</strong>
<br/>
<strong>52W H: {{stock.week52High}}</strong>
<br/>
<strong>52W L: {{stock.week52Low}}</strong>
<br/>
<strong>YTD Change: {{stock.ytdChange}}</strong>
<br/>
