<div class="jumbotron">
    <h1>{{stock.companyName}} ({{ stock.symbol }})</h1>
    <hr class="my-2">
    <strong>Latest Price: </strong>{{stock.latestPrice}}
    <br />
    <strong>Percent Change: </strong>{{stock.changePercent}}
    <br />
    <strong>Open: </strong>{{stock.open}}
    <br />
    <strong>Close: </strong>{{stock.close}}
    <br />
    <strong>High: </strong>{{stock.high}}
    <br />
    <strong>52W H: </strong>{{stock.week52High}}
    <br />
    <strong>52W L: </strong>{{stock.week52Low}}
    <br />
    <strong>YTD Change: </strong>{{stock.ytdChange}}
    <br />
</div>


<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Tesla (TSLA)</h5>
      <hr class="my-3">
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Apple (AAPL)</h5>
      <hr class="my-3">
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Nvidia (NVDA)</h5>
      <hr class="my-3">
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
  </div>
</div>