<h1>{{stock.companyName}} ({{ stock.symbol }})</h1>
<br/>
<strong>Latest Price: {{stock.latestPrice}}</strong>
<br/>
<strong>Percent Change: {{stock.changePercent}}</strong>
<br/>
{{stock.open}}
<br/>
{{stock.close}}
<br/>
{{stock.high}}
<br/>
{{stock.week52High}}
<br/>
{{stock.week52Low}}
<br/>
{{stock.ytdChange}}
<br/>
